$background-color: #FFFFFF;
$heading-color: #1C2A39;
$menu-color: #EFEEF6;
$text-color: #5C6A79;
$count-color: #FF353A;
$promo1-color: #9E98DC;
$promo2-color: #FF8FE6;
$padding-l: 10vw;
$padding-m: 30px;
$bold-text: 700;